  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  .shell {
    float: left;
    height: 15px;
    width: 90%;
    border: 1px solid #4B0082;
    border-radius: 13px;
    align-items: center;
    
    .bar {
      background: #4B0082;
      height: 100%;
      width: 15px;
      border-radius: 9px;
    }
    
    .bar span {
      float: right;
      padding: 4px;
      color: #fff;
      font-size: 0.7em;
    }
    
    button {
      margin: 10px;
      border: 1px solid #aaa;
      background: none;
      border-radius: 50%;
      padding: 4px 8px;
      outline: none;
      cursor: pointer;
    }
  }
}